.FunctionalArea>div.edit .eredit .list {
  border-radius: 1.2vh 1.2vh 0px 0px;
  border: 1px solid #A3A3A3;
  background: #FFF;

  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
}

.FunctionalArea>div.edit .eredit .list .SeekBar>div {
  border-radius: 10vh;
  background: #A3A3A3;
  width: 4vh;
  height: 0.3vh;
  margin: 0.1vh 0.2vh;
}

.FunctionalArea>div.edit .eredit .list .SeekBar {
  margin-top: 0.2vh;
  cursor: ns-resize;
}

.FunctionalArea>div.edit .eredit .list .SeekBar:hover {
  background-color: #f0f0f0;
  /* 或其他颜色 */
}