/* 导航区 */
.navigation {
  width: 100%;
  height: 6.29%;
  border-bottom: 1px solid #9C9C9C;
  background: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 这里嵌套了一层盒子是为了实现响应式布局 */
.navigation .left {
  display: flex;
  align-items: center;
}

.navigation .icon-github-fill {
  font-size: 4.16vh;
}

.navigation .icon-bilibili {
  margin-left: 2vw;
  margin-right: 1vw;
  font-size: 3.9vh;
  transform: translateY(0.2vh);
  /* 向下偏移5像素 */
  color: #FF6A9B;
}

.navigation .head {
  color: #0065D9;
  font-family: Inter;
  font-size: 3.73vh;
  line-height: 51px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.06px;
  margin-left: 0.78%;
}